* {
  box-sizing: border-box;
  outline: none;
}
html[lang='hy'] h1,
html[lang='hy'] h2,
html[lang='hy'] h3,
html[lang='hy'] h4,
html[lang='hy'] h5,
html[lang='hy'] h6 {
  font-family: 'Noto Serif Armenian', serif;
}
html[lang='hy'] body {
  font-family: 'Noto Sans Armenian', sans-serif;
}
body {
  color: #4f4f4f;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
  margin: 0;
}
body.home header a.back-to-gallery {
  display: none;
}
main {
  margin-bottom: auto;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}
@media (min-width: 1300px) {
  .container {
    width: 1270px;
  }
}
@media (min-width: 1480px) {
  .container {
    width: 1440px;
  }
}
.flex-container {
  display: flex;
}
.grid-container {
  display: grid;
}
.transition {
  transition: 0.25s;
}
.relative-parent {
  position: relative;
  z-index: 1000;
}
.absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.font-bold {
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: unset;
}
.section-title {
  font-size: 48px;
  line-height: 60px;
  margin: 0 0 32px;
  color: #1f1f1f;
}
@media (max-width: 767px) {
  .section-title {
    font-size: 32px;
    line-height: 40px;
  }
}
.content {
  font-size: 18px;
}
.content p {
  line-height: 24px;
}
.content p:first-of-type {
  margin-top: 0;
}
.content p:last-of-type {
  margin-bottom: 0;
}
.about-me {
  margin-top: 80px;
}
.about-me img {
  border-radius: 8px;
}
@media (min-width: 768px) {
  .about-me img {
    max-width: 85%;
  }
}
.about-me .content {
  font-size: 18px;
}
.about-me .grid-container {
  gap: 20px;
  align-items: center;
}
@media (min-width: 768px) {
  .about-me .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .about-me h3 {
    text-align: center;
  }
  .about-me .social-media {
    justify-content: center;
  }
}
.albums-section {
  margin-top: 80px;
}
.albums-section .albums {
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.albums-section .albums .album {
  flex: 0 0 calc((100% - 60px) / 3);
  border-radius: 8px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .albums-section .albums .album {
    flex: 0 0 calc((100% - 60px) / 2);
  }
}
@media (max-width: 767px) {
  .albums-section .albums .album {
    flex: 0 0 calc(100% - 60px);
  }
}
.albums-section .albums .album .mask {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 888;
}
.albums-section .albums .album img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.albums-section .albums .album .album-title {
  color: white;
  font-size: 30px;
  margin: 0;
  padding: 0 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 900;
}
.exhibitions {
  margin-top: 80px;
}
.exhibitions .grid-container {
  grid-template-rows: 0fr;
  transition: 0.5s;
}
.exhibitions .grid-container.expanded {
  grid-template-rows: 1fr;
}
.exhibitions .content {
  max-width: 800px;
  margin: 0 auto;
  min-height: 192px;
  overflow: hidden;
}
.exhibitions .see-more {
  display: block;
  min-width: 120px;
  padding: 10px 20px;
  margin: 30px auto 0;
  border-radius: 8px;
  border: 1px solid #808080;
}
.exhibitions .see-more:hover {
  background: #808080;
  color: white;
}
.exhibitions .see-more.hidden {
  display: none;
}
:root {
  --chevron-posititon: 20px;
  --masonry-gap: 20px;
}
@media (max-width: 480px) {
  :root {
    --chevron-posititon: 10px;
  }
}
.gallery {
  margin-top: 80px;
}
.masonry-gallery {
  column-count: 3;
  column-gap: var(--masonry-gap);
}
@media (max-width: 991px) {
  .masonry-gallery {
    column-count: 2;
  }
}
@media (max-width: 767px) {
  .masonry-gallery {
    column-count: 1;
  }
}
.masonry-gallery .item {
  break-inside: avoid;
  margin-bottom: var(--masonry-gap);
  cursor: pointer;
}
.masonry-gallery .item img {
  width: 100%;
  border-radius: 8px;
}
.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.lightbox-image {
  position: relative;
  display: inline-block;
  max-width: 90vw;
  max-height: 90vh;
}
.lightbox-image img {
  display: block;
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 6px;
}
.lightbox-image .lightbox-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 12px 15px;
  box-sizing: border-box;
  border-radius: 0 0 6px 6px;
}
.lightbox-close {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 40px;
  cursor: pointer;
}
.lightbox-close img {
  width: 100%;
  filter: drop-shadow(2px 4px 6px black);
}
.lightbox-prev,
.lightbox-next {
  position: absolute;
  top: 50%;
  width: 60px;
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%);
}
.lightbox-prev img,
.lightbox-next img {
  width: 100%;
  filter: drop-shadow(2px 4px 6px black);
}
.lightbox-prev {
  left: var(--chevron-posititon);
}
.lightbox-next {
  right: var(--chevron-posititon);
}
.hero {
  background: var(--hero-background-image) no-repeat center / cover;
  height: 100vh;
  padding: 18px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero h1 {
  color: white;
  font-size: 32px;
  line-height: 40px;
  margin: 32px 0 0;
  padding: 0 24px;
}
@media (min-width: 992px) {
  .hero h1 {
    max-width: 600px;
  }
}
@media (max-width: 767px) {
  .hero h1 {
    font-size: 24px;
    line-height: 32px;
    padding: 0 12px;
  }
}
.hero .mask {
  background-color: rgba(0, 0, 0, 0.75);
}
.hero .social-media img {
  filter: invert(0.85);
}
.hero .social-media img:hover {
  filter: invert(1);
}
#logo {
  position: relative;
  width: 340px;
  border: 5px solid white;
  border-radius: 8px;
  z-index: 9999;
}
.language-switcher {
  margin-left: auto;
  gap: 20px;
}
.language-switcher img {
  width: 26px;
  border-radius: 4px;
}
.social-media {
  margin-top: 32px;
  gap: 20px;
}
.social-media img {
  filter: invert(0.5);
}
.social-media img:hover {
  filter: invert(0);
}
.videos {
  background: #4f4f4f;
  margin-top: 80px;
  padding: 80px 0;
}
.videos h3 {
  color: white;
}
.video-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  justify-content: center;
}
.video-item {
  border-radius: 8px;
  overflow: hidden;
  flex-basis: calc(33.33333% - 16px);
}
@media (max-width: 991px) {
  .video-item {
    flex-basis: calc(50% - 16px);
  }
}
@media (max-width: 767px) {
  .video-item {
    flex-basis: 100%;
  }
}
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.video-item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer {
  border-top: 1px solid #ccc;
}
footer .copyright {
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  footer .copyright {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
footer p {
  margin: 0;
}
footer .social-media {
  margin: 0;
}
footer .social-media img {
  width: 40px;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 24px;
  z-index: 9999;
}
header a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #4f4f4f;
}
.gallery-template {
  padding-top: 80px;
  padding-bottom: 80px;
}
.gallery-template .description {
  max-width: 800px;
  line-height: 1.5;
}
