<div class="about-me">
    <div class="container grid-container">
        <img src="{{ image }}" alt="{{ title }}" />

        <div class="content">
            <h3 class='section-title'>{{ title }}</h3>
            {{ description }}
            {% include 'components/social-media.twig' %}
        </div>
    </div>
</div>
