<div class="hero flex-container relative-parent" style="--hero-background-image: url({{ background_image }})">
    <div class="mask absolute"></div>
    <img id="logo" src="{{ theme.link }}/assets/img/logo.jpg" alt="logo" />
    <h1 class="relative-parent text-center">{{ title }}</h1>
    {% include 'components/social-media.twig' %}
</div>
