<div class='language-switcher flex-container'>
    <button>
        <img src="{{ theme.link }}/assets/img/en.svg" alt="English Flag" />
    </button>
    <button>
        <img src="{{ theme.link }}/assets/img/hy.svg" alt="Armenian Flag" />
    </button>
</div>
