<div class="language-switcher flex-container">
    {% for code, lang in languages %}
        <a href="{{ lang.url }}">
            <img src="{{ theme.link }}/assets/img/{{ code }}.svg" alt="{{ lang.native_name }}" />
        </a>
    {% endfor %}
</div>
