<div class='language-switcher flex-container'>
    <a href="{{ site.url }}/">
        <img src="{{ theme.link }}/assets/img/en.svg" alt="English Flag" />
    </a>
    <a href="{{ site.url }}/hy">
        <img src="{{ theme.link }}/assets/img/hy.svg" alt="Armenian Flag" />
    </a>
</div>
