<div class="social-media flex-container relative-parent">
    <a
        href="https://www.facebook.com/EmmaDilanyanArt/"
        target="_blank"
        rel="noreferrer nofollow noopener"
    >
        <img src="{{ theme.link }}/assets/img/facebook.svg" alt="facebook icon" class="transition" />
    </a>
    <a
        href="https://www.instagram.com/emma_dilanyan/"
        target="_blank"
        rel="noreferrer nofollow noopener"
    >
        <img src="{{ theme.link }}/assets/img/instagram.svg" alt="instagram icon" class="transition" />
    </a>
</div>
