<div class="social-media flex-container relative-parent">
    <a
        href="https://www.instagram.com/emmadilanyanart/"
        target="_blank"
        rel="noreferrer nofollow noopener"
    >
        <img src="{{ theme.link }}/assets/img/instagram.svg" alt="instagram icon" class="transition" />
    </a>
    <a
        href="mailto:dilanyan.em@gmail.com"
        target="_blank"
        rel="noreferrer nofollow noopener"
    >
        <img src="{{ theme.link }}/assets/img/envelope.svg" alt="envelope icon" class="transition" />
    </a>
    <a
        href="tel:+37491017505"
        target="_blank"
        rel="noreferrer nofollow noopener"
    >
        <img src="{{ theme.link }}/assets/img/phone.svg" alt="phone icon" class="transition" />
    </a>
</div>
