<footer itemscope itemtype="https://schema.org/WPFooter">
    <div class="container flex-container copyright">
        <p>Emma Dilanyan Art &copy; {{ "now"|date("Y") }}</p>
        {% include 'components/social-media.twig' %}
    </div>
</footer>
